body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.is-visible {
  display: block !important;
}

.input-group-field.amount-input {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.budget-input-group {
  margin: 0;
}

.category-budget th {
  width: 33.33%;
}
